.MarginBlock{
    margin-right: 0;
}
.PageHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #227bc5;
    color: #fff;
    line-height: 94px;
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
}
.TitleHeader{
    display: flex;
    margin-left: 72px;
}
.TitleHeader a{
    margin-right: 45px;
    color: #fff;
    text-decoration: none;
}
.TitleHeader a:hover,
.TitleHeader a.activeLink{
    color: #000000;
}
.TitleHeader a h2{
    font-weight: 400;
    font-size: 18px;
}
.TitleHeader a:last-child{
    margin-right: 0;
}
.ButtonHeader{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.ButtonHeader h2{
    margin-right: 35px;
    font-weight: 400;
    font-size: 18px;
}
.WrapperProject{
    width: 100%;
    height: auto;
    overflow: auto;
}
.SelectPage{
    width: 157px;
    height: 36px;
    background: #227bc5;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.ProjectBlock{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ListHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.WrapperList{
    max-width: 296px;
    width: 100%;
}
.MarginList{
    margin-left: 72px;
}
.MarginList:first-child{
    margin-left: 0;
}
.titleList h2{
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.titleList p{
    color: #9ea3b4;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.titleList span{
    color: #2196f3;
}
.ListHeader i{
    color: #9ea3b4;
}
.MarginUserBlock{
    max-width: 296px;
    width: 100%;
    border-bottom: none;
    background: #3a3e52;
    border-radius: 8px;
    margin-bottom: 20px;
}
.ProjectList{
    padding: 0;
    min-height: 200px;
}
.AllProject{
    display: flex;
    overflow: auto;
    margin-left: 72px;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-right: 25px;
}
::-webkit-scrollbar {
    width:15px;
    height: 15px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #4e5160;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #2196f3;
    border: 1px solid #4e5160;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    height: 50px;
    background-color: #2196f3;
    border: 1px solid #4e5160;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-corner{
    background-color:#2196f3;
}
.AllProjectList{
    margin-top: 50px;
    margin-left: 72px;
    margin-right: 25px;
}
.noneOverflow{
    overflow: inherit;
}
.ProjectUserList{
    width: 100%;
    border-spacing: 0px 25px;
}
.ProjectUserList h2{
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}
.ProjectUserList p{
    margin: 0;
    color: #9ea3b4;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.ProjectUserList thead th{
    color: #9ea3b4;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
}
.ProjectUserList thead th:first-child{
    padding-left: 55px;
}
.ProjectUserList .userInfo{
    background: #3a3e52;
    padding-top: 32px;
    padding-bottom: 32px;
}
.ProjectUserList td{
    padding-right: 94px;
}
.ProjectUserList td:last-child{
    padding-right: 25px;
}
.ProjectUserList td:first-child{
    padding-left: 55px;
}
.positionBlock p{
    margin: 0;
}
.positionBlock{
    justify-content: space-between;
}
.positionBlock i{
    color: #9ea3b4;
    margin-left: 50px;
    cursor: pointer;
}
.positionBlock i:hover{
    color: #fff;
}
.react-sweet-progress-line{
    background-color: #585c70 !important;
}
.react-sweet-progress{
    flex-direction: row-reverse !important;
    width: 292px !important;
}
.react-sweet-progress-symbol{
    color: #fff !important;
    margin-right: 20px;
}
.GreenBorder{
    border-left: 4px solid green;
}
.WhiteBorder{
    border-left: 4px solid #fff;
}
.BlueBorder{
    border-left: 4px solid dodgerblue;
}
@media screen and (max-width: 760px) and (min-width: 375px){
    .PageHeader{
        margin-top: 150px !important;
    }
}
@media screen and (max-width: 685px) and (min-width: 375px){
    .TitleHeader a h2{
        font-size: 14px;
    }
    .TitleHeader{
        margin-left: 30px;
    }
    .ButtonHeader h2{
        font-size: 14px;
    }
    .AllProject{
        margin-left: 30px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 568px) and (min-width: 375px){
    .WrapperUserBlock{
        padding: 15px !important;
    }
    .UserBlock .TitleUser h3{
        font-size: 14px !important;
    }
    .UserBlock .TitleUser p{
        font-size: 10px !important;
    }
    .SelectPage{
        max-width: 100px !important;
        width: 100%;
    }
    .PageHeader{
        line-height: 54px;
    }

}
@media screen and (max-width: 507px) and (min-width: 375px){
    .ButtonHeader h2{
        font-size: 12px;
    }
    .TitleHeader a h2{
        font-size: 12px;
    }
    .titleList h2{
        font-size: 14px;
    }
    .titleList p{
        font-size: 10px;
    }
    .ButtonHeader h2{
        margin-right: 15px;
    }
    .SelectPage{
        max-width: 70px !important;
        width: 100%;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width: 425px) and (min-width: 375px){
    .WrapperUserBlock{
        padding: 10px !important;
    }
    .UserBlock .TitleUser h3{
        font-size: 12px !important;
    }
    .UserBlock .TitleUser p{
        font-size: 8px !important;
    }
    .IconUser img{
        width: 26px;
        height: 26px;
    }
    .IconUser{
        margin-right: 10px;
    }
    .titleList h2{
        font-size: 12px;
    }
    .titleList p{
        font-size: 8px;
    }
    .WrapperList  i{
        font-size: 10px;
    }
    .TitleHeader{
        flex-direction: column;
    }
    .TitleHeader h2{
        line-height: 10px;
    }
    .AllProjectList{
        margin-top: 20px !important;
        margin-left: 30px !important;
        margin-right: 8px !important;
    }
    .ProjectUserList thead th:first-child{
        padding-left: 25px !important;
    }
    .ProjectUserList thead th{
        font-size: 12px;
    }
    .ProjectUserList td{
        padding-right: 30px !important;
    }
    .BlueBorder .infoProject{

    }
    .ProjectUserList td:first-child{
        padding-left: 25px !important;
    }
    .infoProject h2{
        font-size: 12px;
    }
    .infoProject p{
        font-size: 10px;
    }
    .valueProject h2,
    .timeProject h2,
    .statusProject h2,
    .TitleUser h2{
        font-size: 12px;
    }
    .react-sweet-progress{
        width: 150px !important;
    }
}
@media screen and (max-width: 510px) and (min-width: 375px){
    .WrapperUserBlock{
        padding: 20px !important;
    }
    .UserBlock .TitleUser h3{
        font-size: 14px !important;
    }
    .UserBlock .TitleUser p{
        font-size: 10px !important;
    }
    .IconUser img{
        width: 35px;
        height: 35px;
    }
    .IconUser{
        margin-right: 15px;
    }
    .titleList h2{
        font-size: 14px;
    }
    .titleList p{
        font-size: 10px;
    }
    .WrapperList  i{
        font-size: 14px;
    }
    .TitleHeader{
        flex-direction: column;
    }
    .TitleHeader h2{
        line-height: 14px;
    }
    .AllProjectList{
        margin-top: 25px !important;
        margin-left: 35px !important;
        margin-right: 12px !important;
    }
    .ProjectUserList thead th:first-child{
        padding-left: 35px !important;
    }
    .ProjectUserList thead th{
        font-size: 14px;
    }
    .ProjectUserList td{
        padding-right: 40px !important;
    }
    .BlueBorder .infoProject{

    }
    .ProjectUserList td:first-child{
        padding-left: 35px !important;
    }
    .infoProject h2{
        font-size: 14px;
    }
    .infoProject p{
        font-size: 12px;
    }
    .valueProject h2,
    .timeProject h2,
    .statusProject h2,
    .TitleUser h2{
        font-size: 14px;
    }
    .react-sweet-progress{
        width: 0px !important;
    }
}