.MarginBlock{
    margin-right: 0;
}
.PageHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #227bc5;
    color: #fff;
    line-height: 94px;
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
}
.TitleHeader{
    display: flex;
    margin-left: 72px;
}
.TitleHeader a{
    margin-right: 45px;
    color: #fff;
    text-decoration: none;
}
.TitleHeader a:hover,
.TitleHeader a.activeLink{
    color: #000000;
}
.TitleHeader a h2{
    font-weight: 400;
    font-size: 18px;
}
.TitleHeader a:last-child{
    margin-right: 0;
}
.ButtonHeader{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.ButtonHeader h2{
    margin-right: 35px;
    font-weight: 400;
    font-size: 18px;
}
.WrapperProject{
    width: 100%;
    height: auto;
    overflow: auto;
}
.SelectPage{
    width: 157px;
    height: 36px;
    background: #227bc5;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.ProjectBlock{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ListHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.WrapperList{
    max-width: 296px;
    width: 100%;
}
.MarginList{
    margin-left: 72px;
}
.MarginList:first-child{
    margin-left: 0;
}
.titleList h2{
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.titleList p{
    color: #9ea3b4;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.titleList span{
    color: #2196f3;
}
.ListHeader i{
    color: #9ea3b4;
}
.MarginUserBlock{
    max-width: 296px;
    width: 100%;
    border-bottom: none;
    background: #3a3e52;
    border-radius: 8px;
    margin-bottom: 20px;
}
.ProjectList{
    padding: 0;
}
.AllProject{
    display: flex;
    overflow: auto;
    margin-left: 72px;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-right: 25px;
}
::-webkit-scrollbar {
    width:15px;
    height: 15px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #4e5160;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #2196f3;
    border: 1px solid #4e5160;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    height: 50px;
    background-color: #2196f3;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-corner{
    background-color:#2196f3;
}
.AllProjectList{
    margin-top: 50px;
    margin-left: 72px;
}
.noneOverflow{
    overflow: inherit;
}
.ProjectUserList{
    width: 100%;
    border-spacing: 0px 25px;
}
.ProjectUserList h2{
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}
.ProjectUserList p{
    margin: 0;
    color: #9ea3b4;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.ProjectUserList thead th{
    color: #9ea3b4;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
}
.ProjectUserList thead th:first-child{
    padding-left: 55px;
}
.ProjectUserList .userInfo{
    background: #3a3e52;
    padding-top: 32px;
    padding-bottom: 32px;
}
.ProjectUserList td{
    padding-right: 94px;
}
.ProjectUserList td:last-child{
    padding-right: 25px;
}
.ProjectUserList td:first-child{
    padding-left: 55px;
}
.positionBlock p{
    margin: 0;
}
.positionBlock{
    justify-content: space-between;
}
.positionBlock i{
    color: #9ea3b4;
    margin-left: 50px;
}
.react-sweet-progress-line{
    background-color: #585c70 !important;
}
.react-sweet-progress{
    flex-direction: row-reverse !important;
    width: 292px !important;
}
.react-sweet-progress-symbol{
    color: #fff !important;
    margin-right: 20px;
}