.WrapperContentChat{
    display: flex;
}
.marginLink{
    display: flex;
    align-items: center;
}
.marginLink i{
    margin-right: 10px;
}
.IconTitleMessage img{
    border-radius: 45px;
    width: 45px;
    margin-right: 10px;
}
.IconTitleMessage h2{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.IconTitleMessage{
    display: flex;
    align-items: center;
}
.WrapperTitleMessage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.WrapperTitleMessage span{
    color: #2196f3;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.WrapperPreview{
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.InboxList{
    max-width: 542px;
    width: 100%;
    box-shadow: 21px 0 26px -6px rgba(23,24,32,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WrapperPreview{
    border-bottom: 1px solid #9ca1b2;
    box-shadow: inset 21px 0 26px -6px rgba(23,24,32,0.3);
    cursor: pointer;
}
.WrapperPreview:hover,
.WrapperPreview:focus{
    background: #2f3242;
}
a.PreviewMessage{
    text-decoration: none;
}
a.PreviewMessage p{
    color: #9ca1b2;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    margin: 0;
    margin-top: 30px;
}
.InboxList button{
    background: #2196f3;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.InboxList button:hover{
    background: #fff;
    color: #2196f3;
}
.InboxList button i{
    margin-right: 10px;
    font-weight: 300;
}
.OldMessage{
    color: #9ca1b2;
}
.WrapperMessageChat img{
    width:60px;
    border-radius: 60px;
}
.NextUserMessage img{
    margin: 0;
}
.NextUserMessage{
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-right: 23px;
}
.NextUserMessage .MessageText{
    border-radius: 15px;
    border-bottom-right-radius: 0;
    margin-right: 23px;
}
.NextUserMessage span{
    display: flex;
    flex-direction: row-reverse;
}
.ChatList{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    box-shadow: inset -24px 0px 42px -2px rgba(23,24,32,0.3);
    max-height: 100vh;
}
.ChatList ul{
    overflow-y: scroll;
    padding: 0;
}
.WrapperMessageChat{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.WrapperMessageChat:first-child{
    margin-top: 0;
}
.MessageText{
    background: #3f4257;
    padding-top: 22px;
    padding-left: 22px;
    padding-bottom: 22px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    margin-bottom: 15px;
    max-width: 540px;
    margin-left: 23px;
}
.MessageText p{
    margin: 0;
    color: #fff;
    line-height: 28px;
    font-size: 16px;
    margin-right: 25px;
}
.InboxChat{
    width: 100%;
    display: flex;
    align-items: center;
}
.ChatMessage span {
    color: #9ca1b2;
    font-size: 14px;
}
.RightAlign{
    display: flex;
    justify-content: flex-end;
}
.FormWrapper img{
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.NewBackground{
    background: #2196f3;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
}
.WriteMessage{
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    background: #404359;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.WriteMessage input{
    background: transparent;
    border: none;
    outline: none;
    margin-left: 28px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-right: 10px;
}
.WriteMessage input::placeholder{
    font-size: 16px;
}
.WriteMessage i{
    font-size: 25px;
    color: #9ca1b2;
    margin-right: 28px;
}
.WriteMessage i:hover{
    color: #2196f3;
    cursor: pointer;
}
.UserInfoChat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}
.UserInfoChat img{
    border-radius: 126px;
}
.UserInfoChat p{
    color: #9ea3b4;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 32px;
}
.TitleName{
    margin-top: 25px;
}
.TitleName h2{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 28px;
    margin-bottom: 10px;
}
.TitleName span{
    color: #9ea3b4;
    font-size: 16px;
}
.ContactInfo li h3{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.ContactInfo li{
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
}
.ContactInfo li span{
    color: #9ea3b4;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.ProphileIconWrapper{
    position: relative;
}
.ProphileIconWrapper i{
    color: green;
    position: absolute;
    right: 8px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 3px rgba(64,67,89,1);
}
.WriteMessage button{
    background: transparent;
    border: none;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
    display: none;
}

.WriteMessage button img{
    width: 20px;
}