.noBackground{
    background: transparent;
}
.WrapperCircular{
    display: flex;
    max-width: 800px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 65px;
    margin-top: 40px;
}
.CircularProgressbar{
    max-width: 75px;
}
.PositionBlock{
    flex-direction: column;
}
.CircularProgressbar .CircularProgressbar-trail{
    stroke: #4d5060 !important;
    stroke-width: 5 !important;
}
.CircularProgressbar .CircularProgressbar-path{
    stroke-width: 5 !important;
}
.CircularProgressbar .CircularProgressbar-text{
    font-size: 22px !important;
}
.CircularInfo{
    display: flex;
    align-items: center;
}
.AboutCircular{
    margin-left: 30px;
}
.AboutCircular h2{
    color: #fff;
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
    margin: 0;
}
.AboutCircular p{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat',sans-serif;
    color: #9ca1b2;
    margin: 0;
}
.HeaderSelect{
    background: #2b2d3c;
    border: 1px solid #9ea3b4;
    color: #9ea3b4;
}
.WrapperSortSelect{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.WrapperSortSelect h2{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat',sans-serif;
    color: #9ca1b2;
    margin-right: 25px;
}
.HeaderGraph{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.ProjectGraphList{
    border-collapse: collapse;
    width: 100%;
}
.ProjectGraphList td{
    padding-bottom: 30px;
    padding-top: 30px;
}
.TableInfo{
    border-bottom: 1px solid #4d5060;
}
.TableInfo td h2{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
}
.TableTitle{
    background: #3a3e52;
    text-align: left;
}
.TableTitle th{
    padding-bottom: 30px;
    padding-top: 30px;
    color: #9ca1b2;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.TableTitle th i{
    margin-left: 10px;
    font-size: 14px;
}
.TableList{
    width: 100%;
}
.TableList{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.ProjectGraphList thead th:first-child{
    color: #fff;
    padding-left: 25px;
}
.ProjectGraphList td:first-child{
    padding-left: 25px;
}
.StatusActive{
    color: #4caf50;
}
.StatusDisabled{
    color: #f44336;
}
.StatusClass{
    display: flex;
    align-items: center;
}
.StatusClass i{
    margin-right: 10px;
}
@media screen and (max-width: 548px) and (min-width: 375px){
    .CircularProgressbar{
        max-width: 45px;
    }
    .AboutCircular h2{
        font-size: 14px;
    }
    .AboutCircular p{
        font-size: 10px !important;
    }
    .WrapperSortSelect h2{
        font-size: 14px;
    }
    .TableTitle th{
        font-size: 14px;
    }
    .TableTitle th i{
        font-size: 10px;
    }
    .TableTitle th{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .TableInfo td h2{
        font-size: 12px;
    }
    .StatusActive,
    .StatusDisabled{
        font-size: 10px !important;
    }
    .TableList{
        overflow-x: scroll;
    }
}